*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Open Sans', sans-serif;
}


.section_title{
    color: #d4af37;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
}
.section_subtitle{
    font-size: 44px;
    color: #4d5c66;
    font-weight: 600;}


/*header*/
header{
    padding: 0 48px;
    background-color: transparent;
    position: absolute;
    width: 100%;



}
header .container{
    max-width: 1185px;
    padding-top: 14px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
header .container .logo{
    display: block;
    text-decoration: none;
}
header .container .header_menu_title{
    color: #fff ;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}
/*header*/
/*section_page_title*/
.section_page_title{
    background-image: url("../images/bg_01.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_page_title h1{
    color: #ffffff;
    font-size: 80px;
    text-align: center;
    font-weight: 300;
}
.section_page_title h1 span{
font-style: italic;

}
/*section_page_title*/

/*section_who_we_are*/
.section_who_we_are .container, .section_what_we_do .container,.section_post .container,.section_contact_us .container{
    max-width: 769px;
    margin: 0 auto;
    text-align: center;
}
.section_who_we_are .container h2{
    margin: 81px auto 22px;
}
.section_who_we_are .container article h3{
    margin: 0 auto 54px;

}
.section_who_we_are .container article p{
    margin: 0 auto 54px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
    color: #021725;
    
}
.section_who_we_are .container article a,.section_post .container a{
    display: block;
    text-decoration: none;
    color: #021725;
    font-size: 14px;
    line-height: 54px;
    border: solid 1px #000000;
    width: 238px;
    margin: 0 auto;
}
/*section_who_we_are*/

/*section_what_we_do*/
.section_what_we_do h2{
    margin: 163px auto 25px;

}
.section_what_we_do h3{
    margin: 0 auto 92px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;

}
.gallery img{
    display: block;
    width: 24.9%;
    flex-basis: 2px;
    margin-bottom: 2px;
}
/*section_what_we_do*/
/*personal_info*/
.section_who_we_are .wrapper{
    display: flex;
    justify-content: space-between;

}
.personal_info{
   width: 33%;
    background-color: #f9f9f9;

}

.personal_info h4,.personal_info h5,.personal_info p{
  text-align: left;
    padding: 0 18px;
}
.personal_info h4{
    margin: 20px 0 22px;
    
}
.personal_info h5{
    font-size: 21px;
    margin-bottom: 35px;
    
}
.personal_info p{
    font-size: 13px;
    line-height: 26px;
    font-weight: 300;
    color: #021725;
}
/*personal_info*/
/*section_post*/
.section_post h2{
    margin: 212px 0 21px;
}
.section_post h3{
    margin-bottom: 52px;
}
.section_post .wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 84px;
    background-color: #f9f9f9;


}
.section_post .wrapper img{
    display: block;
    width: 100%;
}
.section_post .wrapper article{
    text-align: left;
    color: #021725;
    padding: 40px;
    font-weight: 300;


}
.section_post .wrapper article a{
    text-align: center;
    width: 126px;
    color: #021725;
    margin: 56px 0 0;


}
.section_post .wrapper article span{
    display: block;
    margin-bottom:20px;
    text-transform: uppercase;
}

.section_post .wrapper article h5{
    font-size: 30px;
    font-weight: 400;
    color: #505d68;
    margin-bottom:32px;
}
/*section_post*/
/*section_contact_us*/

.section_contact_us .container h2{
    margin:160px 0 22px;

}
.section_contact_us .container h3{
    margin-bottom: 55px;
}
.section_contact_us .container a{
    display: block;

}
.section_contact_us .container a img{
    width: 100%;
}
.section_contact_us .wrapper{
    display: flex;
    max-width: 769px;
    margin: 0 auto 126px;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f9f9f9;
}
.section_contact_us .wrapper .contacts_info{
    text-align: center;
    font-size: 19px;
    font-weight: 300;
    color: #505d68;
    width: 50%;


}
.contacts_info p:first-child{
    font-size: 13px;
    color: #505d68;
    font-weight: 600;
    margin: 52px 0 48px;
    text-transform: uppercase;
}
.contacts_info p:not(first-child){
    margin-bottom: 18px;
}
/*section_contact_us*/
/*footer*/
footer{
    background-color: #eeeeee;
}
footer .container{
    max-width: 769px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 10px 34px;
    font-weight: 300;
    color: #505d68;
    font-size: 16px;
}
/*footer*/